{% set
  list = [
    {
      title: 'Srcset whithot sizes',
      url: '/'
    },
    {
      title: 'Srcset with sizes',
      url: 'srcset-2.html'
    },
    {
      title: 'Srcset with pixel density',
      url: 'srcset-3.html'
    },
    {
      title: 'Picture',
      url: 'picture.html'
    },
    {
      title: 'Picture',
      url: 'picture.html'
    },
    {
      title: 'Imageset',
      url: 'imageset.html'
    }
  ]
%}


<header class="header">
  <nav class="nav">
    <ul class="nav_list">
      {% for item in list %}
        <li class="nav_item">
          <a href={{item.url}} class="nav_link">{{item.title}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>
