<div class="srcset">
  <a class="srcset_link" href="https://unsplash.com/photos/cWOzOnSoh6Q">Оригинал картинки</a>

  <article class="srcset_block">
    <h2 class="srcset_title"> Srcset with sizes </h2>
    <img
      src="img/cat.jpg"
      srcset="img/cat_500.jpg 500w,
              img/cat_1000.jpg 1200w,
              img/cat_1500.jpg 1900w"
      sizes="(max-width: 768px) 500w,
              (max-width: 1200px) 1200w,
              1900w"
      alt="close up photo of tabby cat"
      class="srcset_img"
    >
  </article>
</div>
