.srcset_link {
    display: block;
    margin: 25px 15px;
}

.srcset_block {
    padding: 25px 0;
}

.srcset_title {
    margin: 10px 0;
    padding: 0 15px;
    font-size: 24px;
}

.srcset_img {
    width: 100%;
    height: auto;
}
